<% include ./partials/head %>
<body class="paul">
  <% include ./partials/header %>
  
  <style>
 .mast-head {
    margin-top: 20em;
   color: #ddd;
    
    }
    .mast-font {
      font-family: 'Abel', sans-serif;
      font-size: 6em;
      color: #ddd;
    }
    
    .mast-btn {
      padding: 1em 2em;
      background: white;
      border: 0;
      color: #0074D9;
      border-radius: 0;
      box-shadow: 2px 2px 15px rgba(0, 0, 0, .5);
      margin: 2em;
      width: 120px;
      text-transform: uppercase;
      font-weight: bold;
    }
  </style>
  
<div class="container">
    <div class="mast-head text-center">
        <h1 class="mast-font">PASSPORT</h1>

        <p>Welcome to our Passport local strategy app. Sign up or In</p>

        <a href="/login" class="btn btn-default mast-btn"> Log In</a>
        <a href="/signup" class="btn btn-default mast-btn"> Sign Up</a>
    </div>

</div>
</body>
</html>