<style>
  .container {
    margin-top: 18%;
  }
  

</style>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-sm-1"> </div>
    <div class="col-lg-6 col-sm-10 planet"> <img src="/imgs/rocket.svg" , class="img-responsive rocket">
      <h1> Spark!,
We've, launched it.
 </h1>
      <h2> &bullet;
&bullet;
&bullet;
</h2> <br/>
      <p class="story"> Our app is ready, let's start developing our app using our lovely stack. I wanna share with you a story. I and mom went to the market yesterday to buy some <b>M</b>angos. On our way, we drove past the <b>E</b>xpress then, I and mom saw some boys
        in some adjacent <b>A</b>ngle standing on the <b>N</b>ode of a tree, I asked mon do those boys <b>MEAN</b> it, mon replied, "sure they do <b>MEAN</b> it"..lol </p>
    </div>
    <div class="col-lg-3 col-sm-1"> </div>
  </div>
</div>