<style>
  .container {
    margin-top: 8%;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-sm-1"> </div>
    <div class="col-lg-6 col-sm-10 planet">
      <h1 style="margin-bottom: 0.3em;">About</h1>

      <img src="/imgs/author.jpeg" class="img-responsive author" /> @ahkohd
      <br/>
      <br/>
      <p class="story" style="max-width: 50%;margin: 1em auto; border: 1px solid rgba(255,255,255,.3); padding: 1em;"> I developed this MEAN stack boilerplate because the official MEAN stack boilerplate is an overkill, I really need something that is easily tweakable and that will be easy to get around with by less experienced developer, something light-weight and
        yet awesome, therefore I present to you my boilerplate with a simple application built on it.</p>

      <br/><br/><br/>
      <p style="margin: 1em auto; width: 50%;">

        Follow me on <a herf="http://twitter.com/ahkohd" style="color: white; font-weiht: bold;">Twitter</a>
      </p>
    </div>
    <div class="col-lg-3 col-sm-1"> </div>
  </div>
</div>